<html>
<head>

<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

<script type="text/javascript" charset="utf-8">
    var pageData = {};



    //google.charts.load('visualization', '1', {'packages':['corechart']});
    google.charts.load("current", {packages:["timeline"]});

    function drawChart(jsonData) {
        //console.log(pageData.timeline);
        //console.log("Draw Chart: " + jsonData);

        var container = document.getElementById('example3.1');
        var chart = new google.visualization.Timeline(container);

        var startColStr = '{"cols": [';
        var vendorStr = '{"id": "task", "label": "Vendor name", "type": "string" },';
        var dummyLabelStr = '{"type": "string", "id": "dummy bar label"},';
        var toolTipStr = '{"type": "string", "role": "tooltip", "p": {"html": true} },';
        var messStartStr = '{"id": "startDate","label": "Start Date", "type": "date"},';
        var messStopStr = '{"id": "endDate", "label": "End Date", "type": "date"}';
        var messStr = '';
        var endColStr = '],';
        var rowsStartStr = '"rows": [';
        var rowsEndStr = ']}';
        var buildJsonStr = startColStr + vendorStr + dummyLabelStr + toolTipStr + messStartStr + messStopStr + endColStr + rowsStartStr;

        tableStr = buildJsonStr + pageData.timeline + rowsEndStr;
        console.log("Table Str: " + tableStr);

        var dataTable = new google.visualization.DataTable(tableStr);
        var options = {
            colors: ['#cbb69d', '#603913', '#c69c6e'],
            timeline: { rowLabelStyle: {fontName: 'Helvetica', fontSize: 24, color: '#603913' },
                barLabelStyle: { fontName: 'Garamond', fontSize: 14 } }
        };
        chart.draw(dataTable,options);

        //var jsonData = $.ajax({
        //    url: "/dxldata",
        //    dataType: "jsonp",
        //    async: false
        //}).responseText;
    };

    function setOnLoadCallback(){
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');

        socket.on('timeline', function(msg) {
            //$('#log').append('<p>Received 11: ' + msg + '</p>');
            console.log("Document Ready: " + msg.data);

            if (typeof(pageData.timeline) == "undefined") {
                pageData.timeline = msg.data;
            } else {
                pageData.timeline = pageData.timeline + ", " + msg.data;
            }
            pageData.head = "Response";
            //google.charts.setOnLoadCallback(drawChart(msg.data));
            drawChart(msg.data)
        });
    }


    $(window).load(function(){
        //setOnLoadCallback()
    });

    $(document).ready(function(){

    });


    //});


</script>

</head>

<body>
<h2>DXL Real-Time</h2>
<script>setOnLoadCallback()</script>
<div id="example3.1" style="height: 200px;"></div>
</body>
</html>