<html>
<head>

<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var pageData = {};

    google.charts.load('visualization', '1', {'packages':['corechart']});

    function drawChart(jsonData) {
        console.log(pageData.timeline);
        console.log("Draw Chart: " + jsonData);

        var container = document.getElementById('example3.1');
        var chart = new google.visualization.Timeline(container);

        var startColStr = '{"cols": [';
        var vendorStr = '{"id": "task", "label": "Vendor name", "type": "string" },';
        var dummyLabelStr = '{"type": "string", "id": "dummy bar label"},';
        var toolTipStr = '{"type": "string", "role": "tooltip", "p": {"html": true} },';
        var messStartStr = '{"id": "startDate","label": "Start Date", "type": "date"},';
        var messStopStr = '{"id": "endDate", "label": "End Date", "type": "date"}';
        var messStr = '';
        var endColStr = '],';
        var rowsStartStr = '"rows": [';
        var rowsEndStr = ']}';
        var buildJsonStr = startColStr + vendorStr + dummyLabelStr + toolTipStr + messStartStr + messStopStr + endColStr + rowsStartStr;

        var dataTable = new google.visualization.DataTable(jsonData + ']}');
        var options = {
            colors: ['#cbb69d', '#603913', '#c69c6e'],
            timeline: { rowLabelStyle: {fontName: 'Helvetica', fontSize: 24, color: '#603913' },
                barLabelStyle: { fontName: 'Garamond', fontSize: 14 } }
        };
        chart.draw(dataTable,options);

        //var jsonData = $.ajax({
        //    url: "/dxldata",
        //    dataType: "jsonp",
        //    async: false
        //}).responseText;
    };

    $(document).ready(function(){
        google.charts.load("current", {packages:["timeline"]});
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');

        socket.on('my_response', function(msg) {
            //$('#log').append('<p>Received 11: ' + msg + '</p>');
            console.log("Document Ready: " + msg.data);
            pageData.timeline = msg.data;
            pageData.head = "Response";
            google.charts.setOnLoadCallback(drawChart(msg.data));
        });
    });
    //});


</script>

</head>

<body>
<div id="example3.1" style="height: 200px;"></div>
</body>
</html>