<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {%  if action == "getfile" %}
            <title>Get TIE File Reputation over DXL</title>

            <h1>Get TIE File Reputation over DXL</h1>
            {% if md5 %}
                <strong>MD5 Hash: </strong>{{md5}}<br>
            {% endif %}
            {% if sha1 %}
                <strong>SHA1 Hash: </strong> {{sha1}} <br>
            {%endif%}
            {% if sha256 %}
                <strong>SHA256 Hash: </strong> {{sha256}} <br>
            {%endif%}

            <br>
            <hr>
            {% for prop in propList %}
                <strong>Provider: </strong>{{ prop.provider }} <br>
                <strong>Reputation: </strong> {{ prop.reputation }} <br>
                <br>
            {% endfor %}
            <br>
    {%  endif %}

    {% if action == "setfile" %}
            <title>Set TIE File Reputation over DXL</title>

            <h1>Set TIE File Reputation over DXL</h1>
            {% if md5 and sha1 %}
                <strong>MD5 Hash: </strong>{{md5}}<br>
                <strong>SHA1 Hash: </strong> {{sha1}}<br>
            {% else %}
                <strong>MD5 Hash: </strong>{{md5}}<br>
            {%endif%}
            <strong>Reputation Change Status:</strong> {{ status }} <br>
            <br>
    {% endif %}
</head>
<body>

</body>
</html>